@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #555555;
  font-size: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    32deg,
    rgba(246, 152, 152, 1) 0%,
    rgba(189, 147, 255, 1) 100%
  );
}
